@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/* Reset some default browser styles */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a default font and background color */
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #001021;
}

/* Style the header */
.startpage-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222 ;
    color: #fff;
    padding: 10px;
    background-image: url("/img/header.jpg");
    background-image: url("/img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom -220px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow */
}

.startpage-header h1 {
    background-color: #1d2d44;
    padding: 5px;
    border-radius: 20px;
}  

.moviepage-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222 ;
    color: #fff;
    padding: 10px;
    background-image: url("/img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom -220px;
}

header h1 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
}

/* Style the logo/image */
header img {
    max-width: 50px;
    height: auto;
    padding: 10px;
}

/* Style the navigation menu */
nav {
    background-color: #1d2d44;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

nav li {
   padding: 10px;
   border-top: 2px solid #000;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

nav a:hover {
    color: green;
    transform: scale(1.1);
    
}

nav a:active {
    color: rgb(253, 185, 103)
}

nav a.dennasida {
    text-decoration:underline;
}



/* Style the search input */

.searchbar input[type="text"] {
    width: 90%;
    height: 20px;
    margin: 0 0 10px 10px;
    border-radius: 4px;
    border: 2px solid black;
}

button[type="submit"] {
    width: 90%;
    height: 20px;
    border: 2px solid black;
    margin-left: 13px;
    background-color: rgb(253, 185, 103);
}

.popup {
    display: none;
    position: absolute;
    background-color: #222;
    color: #fff;
    width: 95%;
    top: 100%; 
    left: 2.5%;
    max-height: 50vh; 
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-container {
    position: relative;
}




/* Style the main content */

main {
    background-color: #001021 !important;
    color: #fff !important;
    padding-top: 10px;
}

.startpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.movie {
    background-color: #274060;
    margin-bottom: 10px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    border: 2px solid  #000000;
    text-align: center;
}

.movie img {
    max-width: 100%;
    height: 300px;
    margin-top: 5px;
}

.summary {
    max-height: 90px;
    overflow: auto;
    transition: max-height 0.5s ease-out;
}

.expand-button {
    display: block;
    margin-top: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
}


.movie a {
    color: white;
    text-decoration: none;
    opacity: 1;
    
}

.movie h3:hover{
    text-decoration: underline;
    cursor: pointer;
}



.movie4-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}



.movie4-10 h3{
    margin-top: 5px;
}


.rating ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}


.one{
    background-color: rgb(224, 63, 63);
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.two{
    background-color: rgb(241, 187, 87);
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.three{
    background-color: rgb(138, 182, 138);
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.four{
    background-color: rgb(40, 128, 40);
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.one:hover {
    background-color: red;
}
  
.two:hover {
    background-color: orange;
}
  
.three:hover {
    background-color: rgb(104, 199, 104);
}
  
.four:hover {
    background-color: darkgreen;
}

a.four.disabled, a.three.disabled, a.two.disabled, a.one.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    background-color: #ccc;
}

.listmovie{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #000;
    width: 100%;
    margin: 10px;
    padding: 10px;
}


.latest-review {
    display: flex;
    flex-direction: column;
    background-color: #274060;
    padding: 30px 30px 30px 40px;
    margin: 10px;
    width: 56%;
    height: 54vh;
    align-items: start;
    font-size: 20px;
}

.latest-review hr {
    width: 50%;
    margin: 2px 2px 15px 2px;
    height: 2px;
    background-color: white;
    border: none;
}

.latest-review h3 {
    font-size: 24px;
}

.latest-review h4 {
    margin-top: 10px;
}

.latest-review p {
    margin-top: 15px;
    width: 70%;
    text-align: start;
    border: 2px solid lightcyan;
    padding: 20px;
    margin-left: -20px;
    height: 20vh;
}

.expand-button{
    background-color: rgb(253, 185, 103);
    margin: 0 auto;
}
.expand-button:hover {
    background-color: orange;
}

.startpagegrade {
    width: 100%;
    padding : 2px;
    font-weight: 600;
}


.more-btn {
    background-color: #274060;
    border: 2px solid black;
    border-radius: 18px;
    padding: 17px;
    font-size: 14px;
    width: 20%;
    margin: 10px;
    position: relative;
    left: 37.5%;
    cursor: pointer;
}

.more-btn:hover {
    background-color: #335C81;
    border: 3px solid black;
}

/*footer */
footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/* Detaljsida */
.movie-details {
    display: flex;
    flex-direction: column;
    background-color: #1d2d44;
}

.movie-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.image img{
    width: 300px;
    height: auto;
    border: 2px solid black;
    margin-bottom: 20px;
}


.aside-moviedetails {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #274060 !important;
    color: white;
    margin: 10px;
}


/*  Rating-stats  */

.rating-stats {
    display: flex;
    flex-direction: column;
    width: 22%;
    align-items: center;
}

.rating-stats h3 {
    width: 160%;
    margin-bottom: 8px;
}


/* Rating-scale - Section */

.rating-no1 {
    margin: 10px 0 5px 135px;
    width: 70%;
}

.rating-scale {
    display: flex;
    width: 140%;
    height: 24px;
    background: linear-gradient(to right, red, green);
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.rating-mark {
    content: '';
    width: 2px;
    background-color: black;
    margin-left: 80%;
}

.rate-movie-text {
    margin: 20px 0;
    width: 180% !important;
}

.rate-movie ul{
    margin: 5px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}

.rate-movie ul li a{
    text-decoration: none;
    color: black; 
}

/* Number-of-ratings - Section */

.number-of-ratings h6 {
    margin: 20px 10px 10px 0;
    font-weight: normal;
    font-size: 18px;
    width: 100%;
}

.rating-details {
    display: flex;
    width: 150%;
    margin-left: -35px;
    height: 20px;
    background-color: grey;
    margin-bottom: 7px;
    border: 1px solid #001021;
}
  
.green-fill {
    width: 100%;
    height: 100%;
    background-color: darkgreen;
}
  
.light-green-fill {
    width: 100%;
    height: 100%;
    background-color: forestgreen; 
}
  
.orange-fill {
    width: 100%;
    height: 100%;
    background-color: orange; 
}
  
.red-fill {
    width: 100%;
    height: 100%;
    background-color: red;
}

.rating-number {
    margin-left: 10px;
    padding-top: 2px;
    font-size: 18px;
}

/*  Movie info  */

.movie-info {
    display: flex;
    flex-direction: column;
    max-height: auto;
    padding: 15px;
    margin: 10px;
    text-align: start;
    border: 1px solid  #000000;
    background-color: #274060;
}

.movie-info h3, .story h3, .reviews h3 {
    font-size: 20px;
}

.info-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #1d2d44;
}

.info-poster h3 {
    margin-top: 40px;
    margin-bottom: 30px;
}

/* External ratings */

.external-ratings{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0;
    font-size: 20px;
    font-weight: bold;

}

.external-logo-imdb {
    width: 80px;
    height: 50px;
    margin-right: 15px;
}

.external-logo-tomato {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 50px
}

.mini-poster {
    width: 200px;
    height: 260px;
    border-radius: 8px;
    border: 1px solid black;
}

/* Main info */

.info-main {
    background-color: #1d2d44;
    text-align: center;
    padding-bottom: 15px;
}

#info-list {
    margin: 20px;
    list-style: none;
}

#info-list li {
    font-size: 20px;
    margin-bottom: 14px;
}



/*  Story  */
.story {
    max-height: auto;
    padding: 15px;
    margin: 10px;
    background-color: #1d2d44;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

/*  Reviews  */
.reviews {
    max-height: auto;
    padding: 5px;
    margin: 10px;
    border: 1px solid  #000000;
    background-color: #274060;
    font-size: 18px;
}

.reviews h3 {
    padding: 10px;
}

.listofreview {
    list-style: none;
}

.listofreview li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 14px 10px;
    background-color: #274060;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.btn-prev, .btn-next {
    margin: 5px 5px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-prev {
    background-color: #2B547E;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-next {
    background-color: forestgreen;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.writerreview {
    display: flex;
    flex-direction: column;
    background-color: #1d2d44; 
    text-align: center;
    margin: 10px;
    border: 1px solid  white;
    padding: 20px;
}

#review{
    padding: 5px;
    width: 55%;
    height: 100px;
}

#submit-button {
    height: 30px;
    width: 47%;
    font-weight: 600;
    border: 1px solid forestgreen;
}

#submit-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#confirmation-message {
    display: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

a.one.enable, a.two.enable, a.three.enable, a.four.enable {
    cursor: not-allowed;
    pointer-events: none;
    border: 2px solid #000;
}

/* Stil för dold klass */
.hidden {
    display: none;
}

.writerreview h3, .writerreview label {
    padding-bottom: 10px;
}

.rating ul li a{
    text-decoration: none;
    color: black; 
}


/* Om oss sida */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.history{
    background-color: #e5e6e4;
    border: 2px solid  #000000;
    padding: 10px;
    margin: 10px;
    width: 90%;
}

.kontakt{
    background-color: #e5e6e4;
    border: 2px solid  #000000;
    padding: 10px;
    margin: 10px;
    width: 90%;
}

.kontakt iframe {
    width: 90%;
    height: auto;
    border: none;
}

.socialmedia{
   background-color: #e5e6e4;
    border: 2px solid  #000000;
    padding: 10px;
    margin: 10px;
    width: 90%;
}

.contact-form{
    background-color: #e5e6e4;
    border: 2px solid  #000000;
    padding: 10px;
    margin: 10px;
    width: 90%;
}

.contact-form textarea{
    width: 90%;
    height: 100px;
    margin: 10px;
}

.contact-form input[type="submit"]{
    width: 90%;
    height: 30px;
    margin: 10px;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center; 
    line-height: 0px; 
}


/* sökresultat sida */

input[type="submit"] {
    border: 2px solid black;
    background-color: lightgreen;
}

.socialmedia, .kontakt{
    background-color: #e5e6e4;
    border: 1px solid  #000000;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  
}

main {
    background-color: #f0f0f0;
    color: #000;
    padding-top: 10px;
    
    
}

.movie-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-results .movie {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #222;
    border:none;
    color:#ccc;
    border-bottom: 2px solid #e5e6e4;
    margin:0;
    height: 140px;
}

.movie-results div img{
    width: 110px !important;
    height: auto;
    cursor: pointer;
    margin-left: 30px!important;
}


.movie-results div h2 a{
    color: #fff;
}

.movie-results div h2 {
    width: 50%;
    align-items: center;
    margin: auto;
}

.movie-results div img{
    width: 90px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    align-items: top;
}

.movie-extra-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-left: 10px;
}

.movie-extra-info p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #ccc;
    padding: 5px;

}

.movie-extra-info p span{
    
    color: #fff;
    font-weight: bold;
}



@media screen and (min-width: 750px) {
    header img {
        max-width: 100px;
    }
    header h1 {
        font-size: 36px;
        padding: 50px;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        display: flex;
        flex-direction: row;
    }

    nav li {
        border: 0;
        margin-right: 80px;
    }

    .searchbar form {
        display: flex;
        flex-direction: row;
    }

    input[type="text"] {
        width: 200px;
        margin-right: 20px;
        height: 25px !important;
    }
       
    button[type="submit"] {
        width: 100px;
        height: 32px;
        border: 2px solid black;
    }

    /* startsida */

    .startpage {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .flex-item1 {
        width: 50%;
    }

    .flex-item1 .movie img{
        width: auto;
    }
    
    .flex-item2 {
        width: 40%;
        text-emphasis: center;
        
    } 

    .flex-item2 .movie {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 283px;

    }

    .flex-item2 .movie h3 {
        width: 100%;
    }

    .flex-item2 .movie img {
        max-width: 100%;
        height: 170px !important; 
        margin-top: 5px;
    }

    .bestmovie {
        width: 93.5%;
        margin: 10px;
        font-size: large;
        min-height: 600px;
    }

    .bestmovie h3{
        font-size: larger;
        padding: 5px
    }

    .movie4-10 {
        width: 25%;
       
    }

    .movie4-10 h3{
        min-height: 50px;
    }

    .movie4-10 img {
        max-width: 200px;
    }

    .movie4-10 label, .movie4-10 h3, .movie4-10 p {
        width: 90%;
    }


    .listmovie h3{
        margin-right: 30px;
    }
    
    .movie4-10 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
    }
    
    .listmovie {
        border: solid 2px #000;
        width: 20%;
        margin: 10px;
        padding: 10px;
    }

    .summary {
        max-height: 35px;
        overflow: auto;
        transition: max-height 0.5s ease-out;
    }

    .more-btn {
        width: 12%;
        left: 42%;
    }
    
    /* detaljsida */

    .movie-details {
        flex-wrap: wrap;
    }

    .image img{
        max-width: 100%;
        height: auto;
        border: 2px solid  #000000;
    }
    .image{
        width: 18%;
        margin: 10px;
    }

    .story{
        width: 70%;
        text-align: left;
        padding-top: 20px;
        margin: 10px;
        padding: 20px;
    }

    .reviews{
        width: 76%;
        margin: 10px;
    }

    .writerreview {
        padding: 10px;
        width: 94%;
        margin: 10px;
    }


    /* om oss  */

    .container{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }
    
    .history{
        width: 40%;
    }
    
    .kontakt{
        width: 40%;
    }
    
    .socialmedia{
        width: 40%;
    }
    
    .contact-form{
        width: 40%;
    }

    /* sökresultat */

    
    .filterform form {
        font-size: 18px;
        flex-direction: row;
        
    }

    .filterform input[type="submit"] {
        padding: 10px;
    }

    .genre-select{
        font-size: 18px;
        padding: 5px;
    }

    .genre-select option{
        font-size: 18px;
        padding: 5px;
    }

    .moviesearch{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .info{
        width: 40%;
        margin: 10px;
    }

    .movieposter{
        max-width: 100%;
        height: auto;
    }

    .popup {
        width: 50%;
        right: 0; 
        left:auto;
    }

    .movie-results div img{
        margin-left: 50px!important;
    }
    .movie-extra-info p{
        font-size: 18px;
    
    }


}

@media screen and (min-width: 800px){
    .flex-item2 .movie img {
        max-width: 100%;
        height: 180px !important;
        margin-top: 5px;
    }

    
    .flex-item2 .movie {
        min-height: 325px;

    }

    .bestmovie {
        min-height: 685px !important;
    }

    
}

@media screen and (min-width: 1000px){
    .flex-item2 .movie img {
        max-width: 100%;
        height: 240px !important;
        margin-top: 5px;
    }

    .bestmovie {
        width: 93.5%;
        margin: 10px;
        font-size: larger;
        min-height: 680px;
    }

    .bestmovie h3{
        font-size: xx-large;
        padding: 5px
    }

    .movie-results div{
        height: 180px;
    }

    .movie-results div img{
        width: 130px;
        height: auto;
        align-items: top;
        margin-left: 70px !important;
    }



}



@media screen and (min-width: 1300px) {
    header {
        padding: 70px;
    }

    .moviepage-header {
        padding: 0px;
        background-position: center bottom -400px;
    }

    .moviepage-header h1 {
        font-size: 32px;
    }
    
    nav {
        height: 80px;
    }

    /*  startsida*/
    .flex-item1 .movie img{
        max-width: 100%;
        height: 400px;

    }

    .flex-item2 .movie img {
        max-width: 100%;
        height: 325px !important;
        margin-top: 5px;
    }

    .bestmovie {
        height: 735px !important;
    }

    


    /* detaljsida */

    .aside-moviedetails {
        width: 26%;
        padding-top: 20px;
        margin: 20px auto 20px 20px;
        height: 150vh;
        align-items: center;
        position: relative;
    }

    .movie-details {
        display: flex;
        flex-direction: row;
    }

    .movie-header {
        margin-bottom: 10px;
        font-size: 24px;
    }

    .image {
        width: 100%;
        height: auto;
    }


    /*  Rating-stats  */

    .rating-stats {
        width: 30%;
    }

    .rating-scale {
        width: 230% !important;
    }

    
    /*  Main-content - Movie details page   */

    .details-main-content {
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color: #1d2d44;
        align-items: center;
        padding: 10px 0 25px 0;
    }

    .movie-info {
        width: 93.5%;
    }

    .info-poster {
        display: flex;
        flex-direction: row;
        margin: 20px 55px 20px 55px;
        justify-content: space-evenly;
        padding: 25px;
        background-color: #1d2d44;
    }

    .info-poster h3 {
        margin-top: 0;
    }
    
    .external-logo-imdb {
        width: 100px;
        height: 60px;
        margin-right: 20px;
    }
    
    .external-logo-tomato {
        width: 80px;
        height: 72px;
        margin: 0 20px 0 80px
    }

    /* Main info */
    
    .info-main {
        text-align: start;
        display: flex;
    }

    #info-list {
        
        margin: 40px;
    }
    
    #info-list li {
        font-size: 22px;
        margin-bottom: 40px;
        
    }

    .story {
        width: 40%;
    }


    .reviews {
        width: 96%;
        margin: 0;
        padding: 0;
    }


    .writerreview {
        width: 20%;
        margin: 20px 0;
        padding: 30px 20px 30px 20px;
        position: absolute;
        z-index: 1;
        top: 130%;
        left: 3%;
        border: none;
    }



    
    /* About us  */

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }

    .history {
        font-size: 18px;
    }

    .kontakt {
        font-size: 18px;
    }

    .socialmedia{
        font-size: 18px;
    }

    .contact-form{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-form h3{
        padding: 10px;
        margin-bottom: 10px;
    }
    .contact-form input{
        width: 90%;
        margin: 10px;
        height: 30px;
    }

    .contact-form textarea{
        width: 90%;
        height: 100px;
        margin: 10px;
    }
}

